<section>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-6 col-md-5 col-lg-3">
                <div class="text-center">
                    <h2 class="section-title"><span class="text-yellow fw-bold">Nos services</span> de réparation et entretien</h2>
                    <p>Achetez maintenant et payez plus tard & en plusieurs fois</p>
                    <a href="{{ path('app_contact') }}" class="btn btn-blue">Nous contacter pour tout renseignement</a>
                </div>
            </div>
            {% for service in services %}
                <div class="col-xs-6 col-md-5 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-hover" src="{{ asset(vich_uploader_asset(service)) }}" alt="{{ service.imageName }}">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">{{service.title}}</h5>
                            <div class="card-text">
                                <p>{{service.content}}</p>
                                <p class="text-yellow text-center fst-italic">A partir de {{service.price}} EUR</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
</section>