{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <div class="header-container">
            <div class="discount text-center m-0">
                <ul class="p-0">
                    {% for annSpeciale in annSpeciales %}
                        {% if annSpeciale.isPublished %}
                            <li class="list-unstyled"> {{ annSpeciale.text }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <h1 class="text-center header-text">Services et réparations automobile</h1>
            <h2 class="text-center header-text">Vente de voitures d'occasion</h2>
        </div>
        <img src="{{ asset('images/background/kenny-eliason-eqU1oK3oxvY-unsplash.jpg') }}" alt="car repair" class="header-img">
        </div>
    </header>
    <main>
    {# Section services #}
        {% include "home/_services.html.twig" %}
    {# Section Used Car #}
    <section class="mt-5">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-item-center">
                <div class="col-xs-12 col-md-8 col-lg-3 mb-2">
                    <div class="text-center">
                        <h2 class="section-title">Voitures <span class="text-blue">d'occasion</span></h2>
                        <p>Achetez votre voiture d'occasion contrôlée & garantie.</p>
                        <a href="{{ path('app_ad') }}" class="btn btn-blue">Voir les voitures disponibles</a>
                    </div>
                </div>
                 <div class="col-xs-12 col-md-8 col-lg-9">
                    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="card-img-top bg-carrou" src="{{ asset('images/background/obi-pixel8propix-JIcR3-O8ko8-unsplash.jpg') }}" alt="card-img">
                                    <div class="carousel-caption">
                                        <h3>Découvrez nos <span class="text-yellow">voitures d'occasion</span></h3>
                                    </div>
                            </div>
                            {% for annonce in annonces %}
                                <div class="carousel-item">
                                    <img class="card-img-top bg-carrou" src="{{ asset('uploads/ads/'~annonce.getTitle~'/'~annonce.imageRename2~'.jpg') }}" alt="card-img">
                                    <div class="carousel-caption">
                                        {{ annonce.brand }} - 
                                        {{ annonce.price }} €
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>
    {# Section Reviews #}
    {% include "home/_reviews.html.twig" %}
</main>
{% endblock %}

