<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        {# Style sheets #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">

        {# Javascript #}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/scripts.js')}}" defer></script>

    </head>

    <body>
        {% include "_components/_nav.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
