{% extends 'base.html.twig' %}

{% block title %} Voitures d'occasion {% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row mt-3">
            
            {# Filters #}
                <div class="col-lg-2 col-sm-12 border">
                    <div class="d-flex flex-row mt-2">            
                        <i class="fa-solid fa-filter mt-2"></i>
                        <h4 class="mt-2">Filtres</h4>
                    </div>
                        <form id="filters">
                            <div class="row">
                                    {# Brand filter #}
                                    <div class="col-12">
                                        <p class="fw-bold">Marques</p>
                                        <div class="container">
                                            <ul class="list-unstyled">
                                            <div class="row">
                                            {% for brand in brands %}
                                                <li class="col-6 col-lg-12">
                                                    <input type="checkbox" name="brand[]" id="{{ brand.id }}" value="{{ brand.id }}" checked> 
                                                    <label for="{{ brand.id }}"> {{brand.name}} </label>
                                                </li>
                                            {% endfor %} 
                                            </ul>
                                                <input type="checkbox" id="cc" onclick="checkAll(this)" checked/>
                                                <label for="cc" class="mt-0">Tout sélectionner</label>
                                        </div>
                                    </div>
                                    {# Price Filter #}
                                    <div class="col-6 col-lg-12 mt-2">
                                        <p class="mb-0 fw-bold mt-3">Prix</p>
                                        <input type="range" min="1" max="150000" value="150000" class="mt-0" name="prices[]" id="myPriceRange">
                                        <p>Jusqu'à <label for="prices[]" id="price"></label> EUR</p>
                                    </div>
                                    {# Km Filter #}
                                    <div class="col-6 col-lg-12 mt-2">
                                        <p class="mb-0 fw-bold">Kilométrage</p>
                                        <input type="range" min="1000" max="300000" value="300000" class="mt-0" name="km[]" id="myKmRange">
                                        <p>Jusqu'à <label for="km[]" id="km"></label> km</p>
                                    </div>
                                    {# Year Filter #}
                                    <div class="col-8 col-lg-12 mt-2">
                                        <p class="mb-0 fw-bold">Année</p>
                                        <input type="range" min="2000" max="2023" value="0" class="mt-0" name="years[]" id="myYearRange">
                                        <p>A partir de <label for="years[]" id="year"></label></p>
                                    </div>
                                </form>
                            </div>
                    </div>
                    
                    {# Ads #}
                    <div class="col-lg-10 col-sm-12">
                        <div class="container">
                            <div id="content" class="row">
                                {% include "ad/_content.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/filters.js') }}"></script>
    <script src="{{ asset('assets/js/checkboxes.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
{% endblock %} 
