{% extends 'base.html.twig' %}

{% block title %} Voitures d'occasion {% endblock %}

{% block body %}
    <main class="container">
        <section class="row d-flex justify-content-center">
            {% for annonce in annonces %}
                <div class="col-xs-6 col-md-6 col-lg-4 mt-5">
                    <article class="card w-100">
                    <img class="card-img-top" src="{{ asset('uploads/ads/'~annonce.getTitle~'/'~annonce.imageRename1~'.jpg') }}" alt="card-img">
                        <div class="card-body">
                            <h2 class="card-title ad-title m-0">{{ annonce.title }}</h2>
                            <p class="cart-text ad-price m-0 fw-bold">Prix : {{annonce.price}} €</p>
                            <div class="ad-detail">{{annonce.kilometers}} km - {{annonce.registrationYear|date('Y')}} - {{annonce.energy}} </div> 
                            </br>
                            <a href="{{ path('details', {"title": annonce.title})}}" class="btn btn-yellow">Voir l'annonce</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}
